{% extends "layout.html" %} {% block content %}

<main>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
		</div>
	</div>
	<br>
<br>
  <!-- <div class="container marketing">
    <h1 class='py-4'>Get Your SOS Services</h1>

    <div class="row mx-auto">
      <div class='d-flex justify-left-right'>
      <div class="col-lg-4" align="center" >
        <img src="static/images/sos.jpg" alt="Avatar" style="width:180px">

        <h2>Emergency?</h2>
        <p style="text-align: justify"> Finding Hospital in case of emergency while travelling or visiting a place for the first time can be a trouble at some times.
        You are just one click away from all the information you need in case of any emergency. Get the numbers and address of all the nearby hospitals and call them in just one click!
        </p>
        <p><a type="button" class="btn btn-outline-danger" href="/nearest-hospitals" target='_blank' role="button">Fetch Hospitals &raquo;</a></p>
      </div>
      <div class="col-lg-4" align="center">
        
        </div>
      
      <div class="col-lg-4" align="center">
        <img src="static/images/undraw_medical_care_movn.png" alt="Avatar" style="width:180px">

        <h2>Need a COVID Test?</h2>
          <p style="text-align: justify">
            If you are new to a place and don't know where the nearest hospitals are and also have the symptoms of COVID then you might want to take a COVID Test for safety.
            Just click the button below and you'll get all the informations regarding nearby COVID testing Centers.</p>
          
          <p><a type="button" class="btn btn-outline-success" href="/covid-centers"  target='_blank' role="button">Fetch COVID Centers &raquo;</a></p>
        </div>
      </div>
      </div> -->
       

  <div class="album bg-light">
    <h1 class='py-4'>Get Your SOS Services</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm" align="center">
            <img src="static/images/sos.jpg"  style="width:200px">

            <div class="card-body">
              <h2>Emergency?</h2>
              <p class="card-text">
               Finding Hospital in case of emergency while travelling or visiting a place for the first time can be a trouble at some times.
        You are just one click away from all the information you need in case of any emergency. Get the numbers and address of all the nearby hospitals and call them in just one click! 
              </p>
              <p><a type="button" class="btn btn-outline-danger" href="/nearest-hospitals" target='_blank' role="button">Fetch Hospitals &raquo;</a></p>
            </div>
          </div>
        </div>

<div class="col">
          
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <img src="static/images/undraw_medical_care_movn.png" alt="Avatar" style="width:200px" >

            <div class="card-body">
              <h2>Need a COVID Test?</h2>
              <p class="card-text">If you are new to a place and don't know where the nearest hospitals are and also have the symptoms of COVID then you might want to take a COVID Test for safety.
            Just click the button below and you'll get all the informations regarding nearby COVID testing Centers.</p>
              <p><a type="button" class="btn btn-outline-success" href="/covid-centers"  target='_blank' role="button">Fetch COVID Centers &raquo;</a></p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        
      </div>
    </div>
  </div>


 <br>
 <br>
 
 
 
 
 
 
  <div class="album bg-light">
    <h1 class='py-4'>Find a Doctor</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm" align="center">
            <img src="static/images/docs/doc1.jpg"  style="width:200px">

            <div class="card-body">
              <h4>Dr. Seema Jain</h4>
              <p class="card-text">
                Dr. Seema Jain is a renowned Consultant Best Cardiologist in Kolkata with specialization in Coronary & Non-Coronary Interventional Procedures.Book an instant appointment online with Dr. Seema Jain. 
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-primary" role="button" href='/form' target="blank">contact</a></p>

                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/images/docs/doc2.png"  style="width:200px">

            <div class="card-body">
              <h4>Dr. Atul Palit</h4>
              <p class="card-text">Dr. Atul Palit is a Cardiologist as well as an Intensivist, having 16 years into medical practice attached as visiting consultant in AMRI Hospitals, Dhakuria, Kolkata. Consult with Dr. Atul Palit just in one click.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-primary" role="button" href='/form' target="blank">contact</a></p>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/images/docs/doc3.jpg" alt="Avatar" style="width:200px" >

            <div class="card-body">
              <h4>Dr. Rohit Biswas</h4>
              <p class="card-text">Dr. Rohit Biswas is the Consultant Spine Surgeon at Medica Superspeciality Hospital and Park Neurosciences, Kolkata. He is a dedicated Minimally Invasive spine surgeon, with expertise in 'Key-hole' surgery. Get your Appointment with him.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-primary" role="button" href='/form' target="blank">contact</a></p>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="album py-5 bg-light">
    <h1 class='py-4'>Nearby Health Camps</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/images/hls/hl1.jpg" alt="Avatar" style="width:200px" >

            <div class="card-body">
              <h4> Aastha Help Camp </h4>
              <p class="card-text">A helath camp organised by Aastha Foundation. Open for all. Renowned doctors will be present.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-primary" role="button" href='/interest' target="blank">Interested</a></p>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/images/hls/hl2.jpg" alt="Avatar" style="width:200px" >

            <div class="card-body">
              <h4>Su-Chikitsha</h4>
              <p class="card-text">A health check-up camp specially offered by Doctor's association Kokata for senior citizens free of cost.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-primary" role="button" href='/interest' target="blank">Interested</a></p>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/images/hls/hl3.jpg" alt="Avatar" style="width:200px" >

            <div class="card-body">
              <h4>Blood Donation Camp</h4>
              <p class="card-text"> A blood donation cum free health check up camp for students. Organised by Aarti NGO.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a class="btn btn-primary" role="button" href='/interest' target="blank">Interested</a></p>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}